package home

import (
	"github.com/Puneet56/planner/view/layout"
)

templ Index(s string) {
	@layout.Base("Home") {
		<div class="container">
			<h1>Home</h1>
			<p>Welcome to the home page</p>
		</div>
	}
}
